1. Take values of the length & breadth of a rectangle from user input and check if it is square or not.

In [1]:
length = float(input("Enter the length: "))
breadth = float(input("Enter the breadth: "))

if length == breadth:
    print("It is a square.")
else:
    print("It is not a square.")

Enter the length: 5
Enter the breadth: 5
It is a square.

2. Take three integer values from the user and print the greatest among them.

In [2]:
first_num = int(input("Enter the first number: "))
second_num = int(input("Enter the second number: "))
third_num = int(input("Enter the third number: "))

greatest = max(first_num, second_num, third_num)

print("The greatest number among {}, {}, and {} is: {}".format(first_num, second_num, third_num, greatest))

Enter the first number: 1
Enter the second number: 3
Enter the third number: 5
The greatest number among 1, 3, and 5 is: 5

3. A student will not be allowed to sit in an exam if his/her attendance is less than 75%.

In [3]:
num_classes_held = int(input("Enter the number of classes held: "))
num_classes_attended = int(input("Enter the number of classes attended: "))

percentage_attendance = (num_classes_attended / num_classes_held) * 100

if percentage_attendance >= 75:
  print("The student is allowed to sit in the exam.")
else:
  print("The student is not allowed to sit in the exam.")

Enter the number of classes held: 24
Enter the number of classes attended: 1
The student is not allowed to sit in the exam.

4. A school has the following rules for the grading system:
Below 25 – F, 25 to 44 – E, 45 to 49 – D, 50 to 59 – C, 60 to 79 – B, 80 to 89 - A, Above 90 - A+
Now, Ask the user to enter marks and print the corresponding grade.

In [4]:
marks = int(input("Enter your marks: "))


if marks < 25:
  print("Your grade is F.")
elif marks >= 25 and marks <= 44:
  print("Your grade is E.")
elif marks >= 45 and marks <= 49:
  print("Your grade is D.")
elif marks >= 50 and marks <= 59:
  print("Your grade is C.")
elif marks >= 60 and marks <= 79:
  print("Your grade is B.")
elif marks >= 80 and marks <= 89:
  print("Your grade is A.")
else:
  print("Your grade is A+.")

Enter your marks: 10
Your grade is F.

5. Print the following pattern using for and while loop.
```
1 2 3 4 5 6 7
1 2 3 4 5 6
1 2 3 4 5
1 2 3 4
```

<i>5 (A). Using while loop</i>

In [5]:
i = 8
while i > 4:
    j = 1
    while j < i:
        print(j, end=" ")
        j += 1
    print()
    i -= 1

1 2 3 4 5 6 7
1 2 3 4 5 6
1 2 3 4 5
1 2 3 4

<i>5 (B). Using For loop</i>

In [6]:
for i in range(8, 4, -1):
    for j in range(1, i):
        print(j, end=" ")
    print()

1 2 3 4 5 6 7
1 2 3 4 5 6
1 2 3 4 5
1 2 3 4

6. Display numbers from -100 to -10 using for loop.

In [7]:
for num in range(-100, -9):
    print(num, end=" ")

-100 -99 -98 -97 -96 -95 -94 -93 -92 -91 -90 -89 -88 -87 -86 -85 -84 -83 -82 -81 -80 -79 -78 -77 -76 -75 -74 -73 -72 -71 -70 -69 -68 -67 -66 -65 -64 -63 -62 -61 -60 -59 -58 -57 -56 -55 -54 -53 -52 -51 -50 -49 -48 -47 -46 -45 -44 -43 -42 -41 -40 -39 -38 -37 -36 -35 -34 -33 -32 -31 -30 -29 -28 -27 -26 -25 -24 -23 -22 -21 -20 -19 -18 -17 -16 -15 -14 -13 -12 -11 -10

7. Write a program to sum all prime numbers within a range of 10 to 1000.

In [8]:
sum_of_prime_numbers = 0

for number in range(10, 1001):


  is_prime = True
  for i in range(2, int(number ** 0.5) + 1):
    if number % i == 0:
      is_prime = False
      break

        
  if is_prime:
    sum_of_prime_numbers += number


print("The sum of prime numbers from 10 to 1000 is", sum_of_prime_numbers)

The sum of prime numbers from 10 to 1000 is 76110

8. Find the factorial of an n! (Hint, n=7: 7*6*5*4*3*2*1).

In [9]:
def factorial(n):
    if n == 0:
        return 1
    else:
        return n * factorial(n - 1)


n = int(input("Enter a number: "))
factorial_of_n = factorial(n)

print("The factorial of", n, "is", factorial_of_n)

Enter a number: 7
The factorial of 7 is 5040

9. Reverse a given integer number 27956240710.

In [10]:
num=27956240710

reverse_num= int(str(num)[::-1])
print('The reversed number is:', reverse_num)

The reversed number is: 1704265972

10. Print the following pattern using for and while loop.
```
# # #
# # # #
# # #
# #
```

<i>10 (A). Using while loop</i>

In [11]:
i = 3
while i <= 4:
    print("# " * i)
    i += 1
j = 4
while j >= 3:
    j -= 1
    print("# " * j)

# # #
# # # #
# # #
# #

<i>10 (B). Using for loop</i>

In [12]:
for i in range(3, 5, 1):
    print("# " * i)
for i in range(3, 1, -1):
    print("# " * i)

# # #
# # # #
# # #
# #

11. Display the Fibonacci series of 15 elements using the for and while loop.

<i>11 (A). Using while loop</i>

In [13]:
m, n = 0, 1
count = 0

while count < 15:
    print(m, end=" ")
    
    m, n = n, m + n
    count += 1

0 1 1 2 3 5 8 13 21 34 55 89 144 233 377

<i>11 (B). Using for loop</i>

In [14]:
m, n = 0, 1

for _ in range(15):
    print(m, end=" ")

    m, n = n, m + n

0 1 1 2 3 5 8 13 21 34 55 89 144 233 377

12. Remove 2 and add 3 to the list and replace True with False.
```
Li = [1,3,5, [2,3], True]
Output = [1,3,5, [3,3], False]
```

In [15]:
Li = [1, 3, 5, [2, 3], True]

Li[3][0] = 3

Li[-1] = False

print("The new list is:", Li)

The new list is: [1, 3, 5, [3, 3], False]

13. Find the intersection (common) of two sets.
```
S1 = {1,4,6,8}
S2 = {True, 1,2,10}
```

In [16]:
S1 = {1, 4, 6, 8}
S2 = {True, 1, 2, 10}

intersection = S1 & S2 # or S1.intersection(S2)

print("The intersection of S1 and S2 is:", intersection)

The intersection of S1 and S2 is: {True}

14. Input a list from the user then Remove duplicates from a list and create a set and find the max
number. User_input = [1,9,3,4,5,200,54]

In [17]:
user_input = input("Enter a list of numbers (separated by spaces): ")

user_list = list(map(int, user_input.split()))

unique_list = list(set(user_list))

max_number = max(unique_list)

duplicate_elements = [element for element in user_list if user_list.count(element) > 1]

print("The Unique list is:", unique_list)
print("The Max number is:", max_number)
print("The duplicate elements list are:", set(duplicate_elements))

Enter a list of numbers (separated by spaces): 1 9 3 4 5 200 54 1 9 3 4 5
The Unique list is: [1, 3, 4, 5, 200, 9, 54]
The Max number is: 200
The duplicate elements list are: {1, 3, 4, 5, 9}

15. Rename the key of a dictionary.
```
Dict = { "name": "Shakil", "age":27, "city": “Berlin”, "country": "Germany" }
Write a program to rename a key ‘country’ to a ‘region’ in the following dictionary.
```

In [18]:
Dict = { "name": "Shakil", "age":27, "city": "Berlin", "country": "Germany" }

Dict['region'] = Dict.pop('country')

print("The Modified dictionary is:", Dict)

The Modified dictionary is: {'name': 'Shakil', 'age': 27, 'city': 'Berlin', 'region': 'Germany'}

16. Creating a data frame using the list.
```
num = [10,100,300] (column name is number)
```

In [19]:
import pandas as pd

num = [10, 100, 300]

df = pd.DataFrame({'number': num})

print(df)

   number
0      10
1     100
2     300

17. Change the value of a key in a given dictionary.
```
Write a Python program to change ‘age’ to 28 in the following dictionary.
Dict = { "name": "Shakil", "age":27, "city": “Berlin”, "country": "Germany" }
```

In [20]:
Dict = {"name": "Shakil", "age": 27, "city": "Berlin", "country": "Germany"}

Dict['age'] = 28

print(Dict)

{'name': 'Shakil', 'age': 28, 'city': 'Berlin', 'country': 'Germany'}